@import url(https://fonts.googleapis.com/css?family=Indie+Flower);



#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}
#header1-1 H1 {
  font-family: 'Indie Flower', cursive;
  color: #0df1fa;
  font-size: 60px;
}
#header1-1 P {
  color: #0df1fa;
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
  text-align: center;
}

#menu-h .mbr-brand__name {
  font-size: 16px;
}
#menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-h .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

#menu-j .mbr-brand__name {
  font-size: 16px;
}
#menu-j.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-j .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-j .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-l .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-l .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}
